# Large ZIP files
*.zip

# Large input/upload folders
Input/
uploads/

# Python virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Generated training/output files
runs/

# Environment/secrets
.env

# IDE
.vscode/
.idea/
